__pycache__/classes.cpython-313.pyc
__pycache__/classes.cpython-313.pyc
__pycache__/classes.cpython-313.pyc
__pycache__/HUD.cpython-313.pyc
__pycache__/objetos.cpython-313.pyc
__pycache__/settings.cpython-313.pyc
__pycache__/settings.cpython-313.pyc
__pycache__/objetos.cpython-313.pyc
__pycache__/jogador.cpython-313.pyc
__pycache__/main.cpython-313.pyc
__pycache__/mapa.cpython-313.pyc
